{% extends 'base.html.twig' %}

{% block title %}Erreur interne du serveur{% endblock %}

{% block body %}
    <h1>Erreur interne du serveur</h1>
    <p>Une erreur interne du serveur s'est produite.</p>
{% endblock %}